Code/*
dconf/*
discord/*
enchant/*
evolution/*
gnome-control-center/*
gnome-initial-setup-done
gnome-session/*
GNOME-xdg-terminals.list
goa-1.0/*
google-chrome/*
gtk-3.0/*
ibus/*
menus/*
mimeapps.list
nautilus/*
pulse/*
ubuntu-xdg-terminals.list
update-notifier/*
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
.gsd-keyboard.settings-ported
yelp/*